@import 'tailwindcss';

/* Theme color settings */
@theme {
	--color-main: #067dad;
	--color-secondary: #038474;
	--color-accent: #fe6b6a;
	--color-general: #f4f4f4;
}

/* Example of creating custom variable */
@layer utilities {
	.center-all {
		@apply flex justify-center items-center;
	}

	.full-screen {
		@apply absolute w-dvw h-dvh top-0 left-0;
	}
	.florageBackground {
		@apply bg-[url('/images/floragething.png')];
	}
}

/* Scrollbar Customization */
::-webkit-scrollbar {
	position: sticky;
	top: 0;
	width: 6px;
	height: 6px;
	opacity: 0;
	background: transparent;
	display: none;
}

::-webkit-scrollbar-track {
	position: sticky;
	background: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-corner {
	position: sticky;
	background: transparent;
}

/* Firefox */
* {
	scroll-snap-type: proximity;
	overflow-y: overlay;

	/* background-color: transparent; */
	font-family: var(--font-inter);
}

html,
body,
*,
*:hover,
*:focus {
	cursor: none !important;
}

body {
	background-color: var(--color-general);
}

.custom-cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white; /* white for true inversion */
	mix-blend-mode: difference; /* white ⟶ invert background */
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
	will-change: transform; /* optimize */
}
