# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
test
# VS & IDE settings
.vs/
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.bak

# OS junk
.DS_Store
Thumbs.db

test