# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
Test/
test/
*.Tests/
# VS & IDE settings
.vs/
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.bak

# OS junk
.DS_Store
Thumbs.db
*.md
test
.editorconfig